.Quotes {
    display: flex;
}

.Quotes .quotes-nav {
    width: 30%;
}

.Quotes .quotes-box {
    width: 70%;
}

.quotes-nav, .quotes-box {
    border: 1px solid grey;
    margin: 20px;
}

.quote-box {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
}

.btn-block {
    text-align: center;
}

.dropQuote, .updateQuote {
    margin: 10px;
    border:none;
    padding: 10px;
}

.dropQuote {
    background: crimson;
}

.dropQuote:hover {
    background: mediumvioletred;
}

.dropQuote:active {
    background: crimson;
}

.updateQuote {
    background: chocolate;
}

.updateQuote:hover {
    background: coral;
}

.updateQuote:active {
    background: chocolate;
}