.QuoteEditor {
    border: 1px solid grey;
}

.QuoteEditor .block {
    display: flex;
    margin-bottom: 15px;
}

.block__title {
    width: 20%;
    text-align: right;
    padding: 10px;
}

.quote-text {
    resize: none;
    width: 50%;
    height: 100px;
}

.save-btn {
    background: forestgreen;
    border: none;
    padding: 15px 25px;
    margin-bottom: 15px;
}

.save-btn:hover {
    background: darkgreen;
}

.save-btn:active {
    background: forestgreen;
}